.websiteLogo{
    width: 23%;
    height: 23%;
}
.logoColor{
    color: #006699 !important;
}
.black-bg{
    background-color: #1b1b1b;
}
.nav-hover:hover{
    color: #fff !important;
}
.blogTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blog1{
    padding: 1%;
    width: 360px;
    height: 270px;
    background-color: white;
    margin-top: 27px;
}
.buttons{
    display: flex !important;
    justify-content: center !important;
    background-color: #006699 !important;
    margin-top: 5%;
    margin-bottom: 3%;
}
.buttons:hover{
    background-color: #003c6b !important;
}
.bg-gradient{
    background-image: linear-gradient(to bottom right, #006699, #1b1b1b);
}
.topLink{
    display: flex !important;
    justify-content: center !important;
}
.parallax{
    background-image: url("images/fixed.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.planTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.plan{
    width: 390px;
    background-color: white;
    text-align: center;
    padding: 9px;
    padding-top: 18px;
    margin: 27px;
}
#silverDiv{
    background-color: #BDBDBD;
    padding: 27px;
    margin: 27px -9px;
}
#goldDiv{
    background-color: #FFCA28;
    padding: 27px;
    margin: 27px -9px;
}
#platinumDiv{
    background-color: #78909C;
    padding: 27px;
    margin: 27px -9px;
}